.nav_container_fluid {
    padding:0px;
}


.navbar{
background-color:white !important;
margin-bottom: 0px !important;


}
.col-lg-12 {
    padding:0px !important;
 
  
}

.inner_nav_container{
    background-color:white;
    height:80px;
   
   
    
}

.navbar-brand {
    margin-top: 0px;
    position: relative;
   
}

.navbar-brand > img {
    height:50px;
    display: inline !important;

}

.navbar-brand > p {
position: absolute;
left:70px;
top:24px;
color:black;
font-weight: bold;

}


.navbar-brand > p > span {
    color:#ff781f;
    font-size: 15px;
}



.nav > li {
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
}

.nav > button {
    margin-top: 21px;
    background-color:#ff781f; 
    color:black;
    font-weight: bold;
    border-radius: 10px;
    font-size: 17px;
 
   
}






 /* main row */

 .main_row_1 {
     margin-top: 0px !important;
     background-color:#f7fbfd;
 }

 .main_row_1 > .container {
margin-top: 40px;

 }

 .image1 {
     height: 50vh !important;
     margin-top: 35%;
  
 }

 .main_text {
     font-size: 6rem;
     font-weight: bold;
     font-family: 'Source Code Pro', monospace;
 
 }

 .main_text2 {
     font-size: 25px;
     font-family: 'Source Code Pro', monospace;
 }

 .container > button {
    width:30%;
    color:black;
    font-weight: bold;
 }
 

.buy_btn {
    background-color: #ff781f !important;
  
}






.packages_row {
    margin-top: 0px !important;
    background-color:#f7fbfd;
}

.packages_container {
    margin-top: 40px;
}

.col-lg-offset-2 > .col-lg-3 {
   
    margin-left: 45px;
}

.col-lg-offset-2 > .col-lg-3:hover {
    transform: scale(1.075);
    transition: 0.3s ease;
    cursor: pointer;

   
}




.thum_img {
    height:5rem;
}


.buy{

    background-color: #ff781f !important;
    color:black !important;
    font-family: 'Source Code Pro', monospace;

}




.footer_text {
    position: absolute;
    margin-top: 90px;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;

}


.footer {
    margin-top: 40px;
    
     }



@media screen and (max-width: 1200px) {

    .footer_image1 {
        margin-top: 50%;
    }

}

@media screen and (max-width: 768px) {

    .footer_image1 {
        margin-top: 50%;
    }

}

@media screen and (max-width: 540px) {

    .footer_image1 {
        margin-top: 77%;
    }

}