

/* NavBar */
.my_navbar_container {
margin-bottom: 0px;
padding-right: 0px;
padding-left: 0px;
margin-right: 0px;
margin-left: 0px;
width: 100%;


}


.my_navbar {
    margin-bottom: 0px;
    background-color:#dbeedd;
    padding:10px;
    width: 100%;
    margin: 0px;
    margin-right: 0px;
    
    
}




.nav_links {
    font-family: 'Rancho', cursive;
    font-size: 30px;
    font-weight: 60px;
 
}

.brand_name {
   
    font-family: 'Pacifico', cursive;
    font-size: 40px;
   
}

.logo {
    
    color:transparent;
    background-color:#dbeedd;
}

/* Carousel */
.carousel-container {

    height: 50px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;

}

.car-images{
    height: 670px;
   
}

/* carousel captions */
.carousel_caption1{
    top: 0;
    bottom: auto;
    font-size: 50px;
    color:white; 
    font-family: 'Righteous', cursive;

    right:0px;
    
}
.livestyle_text {
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    color:#013220;
}

.Bethel_homes_text {
    color:black;
    font-size: 70px;
    font-family: 'Pacifico', cursive;
}

.carousel_caption2 {

    top: 0;
    margin-left: 0px;
    font-size: 50px;
    color:white; 
    font-family: 'Righteous', cursive;
    left:0px;
    right:0px;
    width:100%;
   
    
}

.comfortability_text {
    font-family: 'Righteous', cursive;
    font-size: 70px;
    color:goldenrod;
}

.affordability_text {
    font-family: 'Righteous', cursive;
    font-size: 70px;
    color:black;
    display: inline-block;

}

.carousel_caption3 {
    top: 0;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    right:0px;
    left:0px;
    
    
    
    
}

.book_a_viewing_text{
    font-size: 90px;
    font-family: 'Righteous', cursive;
   
    
    
   
    
}

.Today_text{
    
    font-size: 120px;
    
}

/* House types (thumbnail & Caption) */

.Own_A_Property_text {

    font-family: 'Passion One', cursive;
    font-size: 50px;
    color:black;
    margin-top: 60px;
    margin-bottom: 0px;

}
.house_types_main_container{
    background-color: #EBECF0;
  
   
}

.house_types_container{
    margin-top: 30px;
}


.zoom:hover{
    transform: scale(1.075);
    transition: 0.3s ease;
    cursor: pointer;
}




.thumbnail_captions {

font-family: 'Akaya Telivigala', cursive;
font-weight: bold;


}

.thumbnail_texts {

    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

}

.view_more_homes_button {


    margin: 20px;
    padding: 20px;
    
   
    

}

/* About Us */

.About_us_heading{

    font-family: 'Passion One', cursive;
    font-size: 60px;
    margin: 30px;
}

.video {
   height:800px;
   background-color: tomato;    
   
}

.video_caption {

margin: 10px;
font-family: 'Cuprum', sans-serif; 
font-size: 20px; 
font-weight: bold;
}

.Bethel_homes_in_about {

font-family: 'Pacifico', cursive;

}



.about_us_text {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;

    
}

/* footer */

.footer_container {

    margin-top: 150px;
    background-color: #EBECF0;
    right: 0px;
    padding: 0px;
    width: 60%;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
   
}

.locate_us_container {
    width: 30%;
}

.social_media_container {

    margin-right: 20px;

}

.social_media_links {

    text-decoration: none;
    color:black;
    list-style-type: none;
    font-family: 'Cuprum', sans-serif;
    
    

}


.Bethel_homes_in_footer{

    font-family: 'Pacifico', cursive;  
}

.footer_end_text {

    font-size: 20px;
}



 .footer_image{
  
    
    width: 100%;

}




 

